.div-checkout{
    font-weight: bold;
    text-align: center;
}
.orderswiper{
    height: 490px;
}
.orderslide{
    font-weight: normal;
    padding: 0;
}
.ordername{
    font-size: 12px;

}
.z{
    padding: 0;
}